.box{  
    color: white;
    border: 1px solid white;
    text-align: center;
}
.pd-10{
    padding: 10px 10px 0px 10px;
}
.bg-blue{    
    background-color: blue;
    padding: 15px;
}
.bg-green{    
    background-color: green;
    padding: 10px;
}
.no-boder{
    border: none;
}
